### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/
.DS_Store
3dollar-in-my-pocket-manager.xcodeproj/project.xcworkspace/xcuserdata/hyunsikyoo.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
