<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263138332433-0fu6q5eobik1o22hhi94k4fufh9rrgli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263138332433-0fu6q5eobik1o22hhi94k4fufh9rrgli</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>263138332433-gp9ojbcge31esjka42l0675lh2ub3460.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPqYHN6vena7joXA-2VcIcF_r-StWCgdg</string>
	<key>GCM_SENDER_ID</key>
	<string>263138332433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.macgongmon.-dollar-in-my-pocket-manager</string>
	<key>PROJECT_ID</key>
	<string>dollars-in-my-pocket-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>dollars-in-my-pocket-manager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263138332433:ios:ddc6d1918af961b587c6b0</string>
</dict>
</plist>